/*
* importerar de lessmoduler ur foldern modules som skall bygga upp
* style.css filen
*/
.main-wrap {
  min-height: 900px;
  padding: 0 20px;
  margin-bottom: 50px;
  margin-top: 70px;
}
.navbar-wrap .navbar {
  background-color: #3a3c5e;
}
.navbar-wrap .navbar a.navactive {
  color: white;
}
